.env
pyvenv.cfg
__pycache__/
venv/*
.idea/
.vscode/
.venv*/
venv*/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
server/uploads*/
server/migrations*/
server/performance.log
server/tes1.py
server/tes2.py
server/certificates*/
server/error.log
server/config.py
server/encryption_performance.log