{% extends "app.html"%} 
{% block content %}
<h1 class="text-3xl font-bold mb-4">Decrypted File Download</h1>
<div class="container mx-auto p-4">
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="mb-4">
                {% for category, message in messages %}
                    <div class="p-4 mb-4 text-sm text-white rounded-lg {{ 'bg-green-500' if category == 'success' else 'bg-red-500' }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
  <div class="my-5">
  <h2 class="text-2xl font-semibold mb-2">AES Encrypted Files</h2>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                Filename
              </th>
              <th scope="col" class="px-6 py-3">
                File Type
              </th>
              <th scope="col" class="px-6 py-3">
                Download
              </th>
          </tr>
      </thead>
        <tbody>
          {% for file in aes_files %}
          <form action="{{ url_for('decrypt') }}" method="POST" class="inline">
          <input type="hidden" name="file_id" value="{{ file.id }}">
          <input type="hidden" name="encryption" value="AES">
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <th scope="row" name="filename"  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ file.filename }}</th>
            <td name="filetype" class="px-6 py-4">{{file.filetype}} </td>
              <td class="px-6 py-4">
                  <button type="submit" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Download</button>
              </td>
          </tr>
          </form>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  <div class="my-5">
  <h2 class="text-2xl font-semibold mb-2">RC4 Encrypted Files</h2>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                Filename
              </th>
              <th scope="col" class="px-6 py-3">
                File Type
              </th>
              <th scope="col" class="px-6 py-3">
                Download
              </th>
          </tr>
      </thead>
        <tbody>
          {% for file in rc4_files %}
          <form action="{{ url_for('decrypt') }}" method="POST" class="inline">
          <input type="hidden" name="file_id" value="{{ file.id }}">
          <input type="hidden" name="encryption" value="RC4">
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <th scope="row" name="filename" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ file.filename }}</th>
            <td name="filetype" class="px-6 py-4">{{file.filetype}} </td>
              <td class="px-6 py-4">
                  <button type="submit" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Download</button>
              </td>
          </tr>
          </form>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  <h2 class="text-2xl font-semibold mb-2">DES Encrypted Files</h2>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                Filename
              </th>
              <th scope="col" class="px-6 py-3">
                File Type
              </th>
              <th scope="col" class="px-6 py-3">
                Download
              </th>
          </tr>
      </thead>
        <tbody>
          {% for file in des_files %}
          <form action="{{ url_for('decrypt') }}" method="POST" class="inline">
          <input type="hidden" name="file_id" value="{{ file.id }}">
          <input type="hidden" name="encryption" value="DES">
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <th scope="row" name="filename" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ file.filename }}</th>
            <td name="filetype" class="px-6 py-4">{{file.filetype}} </td>
              <td class="px-6 py-4">
                  <button type="submit" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Download</button>
              </td>
          </tr>
          </form>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
</div>
{% endblock %}
