{% extends "app.html" %}
{% block content %}
<h1 class="text-3xl font-bold mb-4">Request Access to User Data</h1>

<div class="container gap-4 mx-auto p-4"> 
  <div class="py-2">
    <!-- Form untuk memasukkan username dan durasi peminjaman -->
    <form action="{{ url_for('request_access') }}" method="POST" class="max-w-md mx-auto">
      <label for="username" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter the Username to request access:</label>
      <div class="relative mb-4">
        <input
          type="text"
          id="username"
          name="username"
          class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Username"
          required
        />
      </div>
      
      <label for="duration" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter the number of days you need access:</label>
      <div class="relative mb-4">
        <input
          type="number"
          id="duration"
          name="duration"
          min="1"
          max="30"
          class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Duration in days (1-30)"
          required
        />
      </div>
      
      <button
        type="submit"
        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Request Access
      </button>
    </form>
  </div>

  <a href="{{ url_for('dashboard') }}">
    <button class="bg-gray-500 text-white px-4 py-2 rounded">Back to Dashboard</button>
  </a>
</div>
{% endblock %}
